.body {
  display: flex;
  flex-direction: column;
}

.authentication-container {
  display: flex;
  align-items: flex-start;
}

.authentication-step {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.button {
  margin-top: 25px;
}

.title {
  text-align: center;
}

.container {
  align-items: center;
  align-self: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  width: 80%;
}

.container > div {
  flex: 1;
}

.clarification {
  color: gray;
  font-size: 12px;
  font-style: italic;
  margin: 0;
}

.create-button {
  align-self: center;
  margin-top: 0;
  width: 50px;
}

h5 {
  margin-bottom: 0;
}
