.authentication-container {
  display: flex;
}

.authentication-step {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
}

.repository-creation-container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
