html
  head
    title
      | Wolox github organization manager
body.body
  h1.title Wolox github organization manager
  ul
    li
      a(href="/repositories")
        | Repositories
    li
      a(href="/teams")
        | Teams
