doctype html
html
  head
    title
      | Wolox github organization manager
    meta(charset='UTF-8')
    base(href='/')
    link(rel='stylesheet', href='/stylesheets/repositories.css')
    script(src='/jquery/jquery.min.js')
    script(src='/javascripts/repositories.js')
  body.body
    h1.title Wolox github organization manager

    h3.title Authenticate
    .authentication-container
      .authentication-step
        div
          h5 Username
          input.authentication-username(type='text' name='username')
        div
          h5 Password
          input.authentication-password(type='password' name='password')
        div
          h5 OTP
          input.authentication-otp(type='text' name='otp')
        button.button.authentication-button
          | Log in
      .authentication-step
        div
          h5 Token
          input.authentication-token(type='text' name='token')
        button.button.token-update-button
          | Update token

    h3.title Create new repository
    p.repository-creation-clarification.title
      | Project name and tech are required. Submitting the form without them will have no effect.
    .repository-creation-container
      .repository-creation-container-column
        div
          h5 Project name
          input.repository-name(type='text' name='name')
        div
          h5 Private
          input.repository-private(type='checkbox' name='private')
      .repository-creation-container-column
        div
          input(type='radio' name='tech' value='android')
          | Android
        div
          input(type='radio' name='tech' value='ios')
          | iOS
        div
          input(type='radio' name='tech' value='react-native')
          | React Native
      .repository-creation-container-column
        div
          input(type='radio' name='tech' value='frontend')
          | Frontend
        div
          input(type='radio' name='tech' value='react')
          | React
        div
          input(type='radio' name='tech' value='angular')
          | Angular
        div
          input(type='radio' name='tech' value='landing')
          | Landing
        div
          input(type='radio' name='tech' value='dashboard')
          | Dashboard
      .repository-creation-container-column
        div
          input(type='radio' name='tech' value='backend')
          | Backend
        div
          input(type='radio' name='tech' value='rails')
          | Rails
        div
          input(type='radio' name='tech' value='node')
          | Node
        div
          input(type='radio' name='tech' value='api')
          | API
        div
          input(type='radio' name='tech' value='lambdas')
          | Lambdas
        div
          input(type='radio' name='tech' value='.net')
          | NET
      .repository-creation-container-column
        div
          input(type='radio' name='tech' value='infra')
          | Infra
        div
          input(type='radio' name='tech' value='iot')
          | IOT
    button.button.repository-create-button
      | Create
    .repository-creation-messages-container
