doctype html
html
  head
    title
      | Wolox github organization manager
    meta(charset='UTF-8')
    base(href='/')
    link(rel='stylesheet', href='/stylesheets/repositories.css')
    script(src='/jquery/jquery.min.js')
    script(src='/javascripts/repositories.js')
  body
    h1.title Wolox github organization manager

    h3.title Authenticate
    .authentication-container
      .authentication-step
        div
          h5 Username
          input.authentication-username(type='text' name='name')
        div
          h5 Password
          input.authentication-password(type='password' name='password')
        div
          h5 OTP
          input.authentication-otp(type='text' name='otp')
        button.authentication-button
          | Log in
      .authentication-step
        div
          h5 Token
          input.authentication-token(type='text' name='token')
        button.token-update-button
          | Update token

    .repository-creation-container
      h3 Create new repository
      div
        div
          h5 Name
          input.repository-name(type='text' name='name')
        div
          h5 Private
          input.repository-private(type='checkbox' name='private')
        button.repository-create-button
          | Create
